
body{
    background: -webkit-linear-gradient(white,#CECEF6, #A9D0F5,#F8E6E0);
}
:root{
    --color-c:lightblue;
    --color-g:lightgray;
    --color-f: cyan;
}
.mes{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}
.fin{
    padding: 4px;
    background: var(--color-g);
    font-family: 'Courier New', Courier, monospace;
}
.AS{
    padding: 4px;
    background: var(--color-c);
    font-family: 'Courier New', Courier, monospace;
}
.fe{
    padding: 4px;
    background: var(--color-f);
}
tr{
    border-radius: 10px;
}